<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--  <link rel="stylesheet"  href="/webjars/bootstrap/3.3.5/css/bootstrap.css"/>
    <script type="text/javascript" src="/webjars/jquery/1.11.3/jquery.js"></script>-->
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet"/>
    <script src="/js/highcharts.js" ></script>
    <script src="/js/exporting.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-6 col-md-4">
            <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

        </div>
        <div class="col-sm-6 col-md-4">
            <table class="table">
                <caption>基本的表格布局</caption>
                <thead>
                <tr>
                    <th>买</th>
                    <th>总股数</th>
                    <th>占比</th>
                    <th>均手</th>
                    <th>均价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>总</td>
                    <td th:text="${#numbers.formatDecimal(d.totalBuyGu / 10000,1,1)+'万'}"></td>
                    <td >100%</td>
                    <td th:text="${#numbers.formatInteger(d.totalBuyShou,1)}"></td>
                    <td th:text="${d.totalBuyAvg}"></td>
                </tr>
                <tr>
                    <td>机</td>
                    <td th:text="${#numbers.formatDecimal(d.jiBuyGu / 10000,1,1)}+'万'"></td>
                    <td th:text="${d.jiBuyDang  }+'%'"></td>
                    <td th:text="${#numbers.formatInteger(d.jiBuyShou,1)}"></td>
                    <td th:text="${d.jiBuyAvg}"></td>
                </tr>
                <tr>
                    <td>大</td>
                    <td th:text="${#numbers.formatDecimal(d.daBuyGu / 10000,1,1)}+'万'"></td>
                    <td th:text="${d.daBuyDang }+'%'"></td>
                    <td th:text="${#numbers.formatInteger(d.daBuyShou,1)}"></td>
                    <td th:text="${d.daBuyAvg}"></td>
                </tr>
                <tr>
                    <td>中</td>
                    <td th:text="${#numbers.formatDecimal(d.zhongBuyGu / 10000,1,1)}+'万'"></td>
                    <td th:text="${d.zhongBuyDang }+'%'"></td>
                    <td th:text="${#numbers.formatInteger(d.zhongBuyShou,1)}"></td>
                    <td th:text="${d.zhongBuyAvg}"></td>
                </tr>
                <tr>
                    <td>散</td>
                    <td th:text="${#numbers.formatDecimal(d.sanBuyGu / 10000,1,1)}+'万'"></td>
                    <td th:text="${d.sanBuyDang  }+'%'"></td>
                    <td th:text="${#numbers.formatInteger(d.sanBuyShou,1)}"></td>
                    <td th:text="${d.sanBuyAvg}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<script src="/js/pie.js" ></script>

</html>